
 
 /* scott css */
 * {
   box-sizing: border-box;
 }
 
 body{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
  }


.adding-item-container {
  border: solid black;
  display: flex;
  justify-content: center;
  width: 600px;
  padding: 20px;
}
  
.label-text {
  display: block;
}

textarea {
  height: 125px;
  width: 400px;
}

.description-rating-container {
  display: flex;
  
}

.set-rating {
  padding: 5px;
  height: 125px;
  margin-top: 18px;
}

.adding-item-header {
  display: block;
}
.adding-item-header h2 {
  margin: 10px;
}
/* form {
  display: flex;
  justify-content: center;
} */

/* scott css */

.header-container{
    display: flex;
    justify-content: center;
}

#main-container{
    margin-bottom: 2rem;
}

#js-main-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.js-add-bookmark{
  margin-right: 1rem;
}
  
.js-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.js-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.bookmark-container {
    display: 
}

.bookmark-border{
    border: 1px solid #000000;
}


.hidden {
  display: none;
}