 
 /* scott css */
 * {
   box-sizing: border-box;
 }
 
 body{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
  }


.adding-item-container {
  border: solid black;
  display: flex;
  justify-content: center;
  width: 600px;
  padding: 20px;
}
  
.label-text {
  display: block;
}

textarea {
  height: 125px;
  width: 400px;
}

.description-rating-container {
  display: flex;
  
}

.set-rating {
  padding: 5px;
  height: 125px;
  margin-top: 18px;
}

.adding-item-header {
  display: block;
}
.adding-item-header h2 {
  margin: 10px;
}
/* form {
  display: flex;
  justify-content: center;
} */

/* scott css */

