
 
 /* scott css */
 * {
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
 }
 
 body{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    background: rgba(0, 0, 0, .2);
  }

.header-container{
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

#js-add-btn{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.adding-item-container {
  border: solid black;
  display: flex;
  justify-content: center;
  justify-content: center;
  width: 600px;
  padding: 20px;
}

/* css styling for content rendered to dom */
/* centering form content */
.description-rating-container {
  display: flex;
}


.label-text {
  display: block;
}

textarea {
  height: 125px;
  width: 425px;
}

.set-rating {
  padding: 5px;
  height: 125px;
  position: relative;
  left: 5px;
  /* margin-top: 18px; */
}

#js-add-btn,
.adding-item-header, 
.title-url-container,
.description-rating-container,
.add-cancel-container {
  display: flex;
  justify-content: center;
}

.title-url-container{
  margin-bottom: 1rem;
}

.adding-item-header h2 {
  margin: 10px;
}
/* form {
  display: flex;
  justify-content: center;
} */

/* scott css */

#main-container{
    margin-bottom: 2rem;
}

#js-main-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.js-add-bookmark{
  margin-right: 1rem;
}

.set-title,
.set-url{
  margin-right: 5px;
}

#js-set-title{
  margin-right: 3rem;
}

#js-set-url{
  margin-right: 3rem;
}

#js-submit-bookmark{
  position: relative;
  right: 5rem;
}

.add-cancel-container{
 margin-top: 1em;
}

/* .js-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.js-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd}

.show {display:block;} */

/* bookmark styles */
.bookmark-container {
    text-align: center; 
}

.bookmark-border{
    border: 1px solid #000000;
}


.hidden {
  display: none;
}

/* BUTTON STYLING */
.add-bk,
#js-submit-bookmark,
#js-cancel-submit{
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    outline: none;
    margin-bottom: 25px;
    font-weight: bolder;
}

.add-bk:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

#js-cancel-submit:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

#js-submit-bookmark:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

/* TYPEWRITER EFFECT */
.typewriter {
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}